body {
        font-family: "inglesa-script-variable",sans-serif;
        font-variation-settings: 'wght' 300;
        font-size: 1.2em;
}

h1 {
    text-align: center;
}

h2 {
    font-weight : normal;
    text-align: center;
}

section {
    margin: 50px;
    border-radius: 20px;
    background-color: orange;
    padding: 1rem;
}

article {
    display: flex;
    justify-content: space-around;
}

a {
    background-color: white;
    border-radius: 10px;
    width: 10%;
    color: black;
    text-align: center;
}